@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

:root {
  --text: #292524;
  --white: #ffffff;
  --warm-50: #f7f4f2;
  --warm-600: #c63d2f;
  --stone-50: #fafaf9;
  --stone-100: #f5f5f4;
  --stone-200: #e7e5e4;
  --stone-300: #d6d3d1;
  --stone-500: #78716c;
  --stone-800: #292524;
}
