@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

a,
button {
  transition: normal, 0.25s, ease, 0s, all;
}

:root {
  --text: #292524;
  --white: #ffffff;
  --warm-50: #f7f4f2;
  --warm-600: #c63d2f;
  --stone-50: #fafaf9;
  --stone-100: #f5f5f4;
  --stone-200: #e7e5e4;
  --stone-300: #d6d3d1;
  --stone-500: #78716c;
  --stone-800: #292524;
}

.checker-pattern {
  background: repeating-linear-gradient(
      0deg,
      var(--stone-200),
      var(--stone-200) 1px,
      transparent 1px,
      transparent 20px
    ),
    repeating-linear-gradient(
      90deg,
      var(--stone-200),
      var(--stone-200) 1px,
      transparent 1px,
      transparent 20px
    );
  background-size: 20px 20px;
}
